
/* Colors:
https://colorhunt.co/palette/71302 <--use
https://colorhunt.co/palette/31443

Text color options:
Dark Teal - #247ba0
Dark Purple - #88498f
Superdark Green - #41463d

font-family: 'Marcellus', serif;
font-family: 'Coustard', serif;
font-family: 'Gabriela', serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Parisienne', cursive;

*/
/********************** Containers **********************/

body {
    margin: 0;
    text-align: center;
}

h1 {
  margin-top: 0;
  font-family: 'Marcellus', serif;
}

h2, h3 {
  font-family: 'Coustard', serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}


.top-container {
  background-color: #a8e6cf;
  padding-top: 100px;

}

.middle-container {
  background-color: #dcedc1;

}

.bottom-container {
  background-color: #ffd3b6;
  height: 200px;
  width: 200px;
}

.cloud-img {
  width: 200px;
  position: absolute;
  left: 60%;
  top: 25px;
}

.shaydaname-img {
  width: 200px;
}

.dragon-img {
  width: 200px;
  position: absolute;
  left: 20%;
}

.mountains-img {
  width: 600px;
  padding-top: 40px;
}

.shaydaface-img {
  width: 200px;
  border-radius: 50%;
}
