
/* Colors:
https://colorhunt.co/palette/71302 <--use
https://colorhunt.co/palette/31443

Text color options:
Dark Teal - #247ba0
Dark Purple - #88498f
Superdark Green - #41463d

font-family: 'Marcellus', serif;
font-family: 'Coustard', serif;
font-family: 'Gabriela', serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Parisienne', cursive;

*/
/****************************************************
ELEMENTS & TEXT
*******************/

body {
    margin: 0;
    text-align: center;
}

h1 {
  font-family: 'Marcellus', serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #88498f;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #247ba0;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #247ba0;
  text-decoration: none;
}

a:hover {
  font-family: 'Montserrat', sans-serif;
  color: #88498f;
  text-decoration: none;
}


/****************************************************
TEXT
*******************/

.programmer {
  font-size: 1.5em;
  font-weight: normal;
  color: #247ba0;
}

.copyright {
  font-size: 12px;
  color: #88498f;
}

/****************************************************
DIVIDERS
*******************/

hr {
  border-style: dotted;
  border-width: 10px;
  border-bottom: none;
  width: 5%;
  margin: auto;
  border-color: #EAF6F6;
  margin: 60px auto;
}


/****************************************************
CONTAINERS
*******************/

.top-container {
  background-color: #a8e6cf;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  background-color: white;
  padding-bottom: 50px;
}

.profile {
  width: 50%;
  margin: auto;
}

.bottom-container {
  background-color: #dcedc1;
  padding: 25px 0;

}

.cloud-img {
  width: 200px;
  position: absolute;
  left: 70%;
  top: 25px;
}

.skill-row {
  margin: 50px auto;
  width: 50%;
  text-align: left;
}

/****************************************************
IMAGES
*******************/

.shaydaname-img {
  width: 600px;
}

.dragon-img {
  width: 200px;
  position: absolute;
  left: 20%;
}

.mountains-img {
  margin: 0 auto;
  padding-top: 50px;
  width: 600px;
  vertical-align: bottom;
}

.shaydaface-img {
  width: 200px;
  border-radius: 50%;
  margin-top: 25px;
}

.dev-img {
  width: 100px;
  float: left;
  margin-right: 30px;
}

.write-img {
  width: 100px;
  float: right;
  margin-left: 30px;
}

/****************************************************
BUTTONS
*******************/

.btn {
  background-color: #ffaaa5;
  border-color: #ffaaa5;
  font-family: 'Montserrat', sans-serif;
  color: #247ba0;
}
